:root{
    --primary-color:#ffb411;
    --text-color:#1e1c2a;
    --bg-color:#fff;
    --big-font:4rem;
    --h2-font:2.24rem;
    --p-font:0.9rem
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", serif ;
}

body{
    background-color: #f8f8f8;
}
/* ---------start navbar----- */

.btn{
    display: inline-block;
    color: var(--bg-color);
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 0.5rem;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
   width: 100%;
   
}
 
#pizza{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
}
.navbar a{
    color: var(--text-color);
     font-size: 1rem; 
    padding: 10px 20px;
    font-weight: 500;
}
.nav-right ul{
    display: flex;
    list-style: none;
}
.nav-right ul{
    padding: 10px 20px;
}

.nav-right ul a{
    text-decoration: none;
    margin: 10px;
    
}
.nav-right ul a:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.nav-right ul li:last-child{
    width: 15px;
    height: 15px;
}
.nav-right ul li:last-child img{
     width: 100%; 
}

/* -----------------end navbar------------ */
section{
    padding: 50px 10%;
}

.section-intro{
    color: var(--primary-color);
    font-weight: 500;
}
.section-title{
    font-size: var(--h2-font);
}

#home{
    display: flex;
    align-items: center;
    height: 100vh;
}
.home-left{
    width: 50%;
}
.home-left h1{
    font-size: var(--big-font);
    color: var(--primary-color);
}
.home-left h2{
    font-size: var(--h2-font);
    margin: 1rem 0 1rem;
}
.home-right{
    width: 50%;
}
.home-right img{
    width: 75%;
    border-radius: 0.5rem;
}
/* -------------start about------------ */
#about{
    display: flex;
}

.about-left,.about-right{
    width: 50%;
}
.about-left img{
    width: 80%;
    border-radius: 0.5rem;
}
.about-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.about-right p{
    margin: 0.8rem 0 1.8rem;
}
/* --------------menu------------ */
#menu{
    text-align: center;
}
.menu-bottom{
    display: flex;
    gap: 1.5rem;
}
.menu-bottom-card{
    position: relative;
    box-shadow: 0 2px 4px rgb(4, 64, 54 , 10%);
    padding: 10px;
    height: auto;
    flex-grow: 1;
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.menu-bottom-card-img-container{
    width: 200px;
    height: 200px;
    margin: auto;
}
.menu-bottom-card-img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu-bottom-card p{
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}
.menu-bottom-card span{
    font-size: var(--p-font);
    font-weight: 500;
}

/* .fa-cart-shopping{
    position: absolute;
    top: 0;
    right: 0;
} */

/* -------------------------services---------------- */

#services{
    text-align: center;
}
.services-bottom{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}
.services-bottom-card-img_container{
    width: 60px;
    margin: auto;
}
.services-bottom-card-img_container img{
    width: 100%;
}

.services-bottom-card h3{
    margin: 4px 0 10px;
}